<div id="__PSZY_INFO__">
  <div id="__PSZY_STIPEND__" title="Stipend" class="btn btn-white btn-toolbar btn-xs"><i class="fa-solid fa-indian-rupee-sign"></i> <span>-</span></div>
  <div id="__PSZY_STUDENTS__" title="#students" class="btn btn-white btn-toolbar btn-xs"><i class="fa-solid fa-users"></i> <span>-</span></div>
  <div id="__PSZY_PROJECTS__" title="#projects" class="btn btn-white btn-toolbar btn-xs"><i class="fa-solid fa-folders"></i> <span>-</span></div>
  <div id="__PSZY_DISCIPLINE__" title="disciplines" class="btn btn-white btn-toolbar btn-xs"><i class="fa-solid fa-flask-vial"></i> <span>-</span></div>
</div>
<div class="spacer">&nbsp;</div>
<div id="__PSZY_CONTROLS__">
  <div id="__PSZY_MOVEUP__" class="btn btn-primary btn-toolbar" title="Move 1 up"><i class="fa-solid fa-arrow-up"></i></i></div>
  <div id="__PSZY_MOVEDOWN__" class="btn btn-primary btn-toolbar" title="Move 1 down"><i class="fa-solid fa-arrow-down"></i></div>
  <div id="__PSZY_TOP__" class="btn btn-primary btn-toolbar" title="Send to top"><i class="fa-solid fa-up-to-line"></i></div>
  <div id="__PSZY_BOTTOM__" class="btn btn-primary btn-toolbar" title="Send to bottom"><i class="fa-solid fa-down-to-line"></i></div>
  <div id="__PSZY_SWAP__" class="btn btn-primary btn-toolbar" title="Swap"><i class="fa-solid fa-arrows-cross"></i></div>
  <div id="__PSZY_MOVETO__" class="btn btn-primary btn-toolbar" title="Move to">MoveTo</div>
  <div id="__PSZY_PBANK__" class="btn btn-inverse btn-toolbar" title="open problem bank"><i class="fa-solid fa-info"></i></div>
</div>