div#__PSZY_CONTROLS__ {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 4;
  gap: 10px;
}
div#__PSZY_CONTROLS__ > div {
  font-size: 12px;
  background: #418aca;
  color: white;
  padding: 8px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
}

ul#sortable_nav > li {
  display: flex;
  gap: 15px;
  align-items: center;
}

ul#sortable_nav > li .sortable-number {
  flex: 0 0 auto;
  order: 1;
  margin-left: -60px;
  /* float: none; */
}

ul#sortable_nav > li .uiicon {
  margin: 0px;
  order: 2;
}

ul#sortable_nav > li .spacer {
  flex: 1 1 auto;
  order: 3;
}

ul#sortable_nav > li input.accomo {
  flex: 0 0 auto;
  order: 5;
  float: none;
  margin: 0;
  width: 15px;
  height: 15px;
}

ul#sortable_nav > li:first-child div#__PSZY_CONTROLS__ #__PSZY_MOVEUP__ {
  display: none;
}

ul#sortable_nav > li:first-child div#__PSZY_CONTROLS__ #__PSZY_TOP__ {
  display: none;
}

ul#sortable_nav > li:last-child div#__PSZY_CONTROLS__ #__PSZY_MOVEDOWN__ {
  display: none;
}

ul#sortable_nav > li:last-child div#__PSZY_CONTROLS__ #__PSZY_BOTTOM__ {
  display: none;
}

ul#sortable_nav > li:not(:hover) div#__PSZY_CONTROLS__ {
  display: none;
}

div#__PSZY_CONTROLS__ div#__PSZY_SWAP__ {
  border-radius: 10px;
  width: auto;
}

div#__PSZY_CONTROLS__ div#__PSZY_MOVETO__ {
  border-radius: 10px;
  width: auto;
}

div#__PSZY_CONTROLS__ div#__PSZY_MOVERANGE__ {
  border-radius: 10px;
  width: auto;
}

div#__PSZY_CONTROLS__ svg {
  pointer-events: none;
  width: 15px;
  height: 15px;
}

@keyframes bg {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.glow {
  animation: bg 0.4s linear;
}

.filter,
.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.filter-row {
  margin-top: 5px;
  justify-content: flex-start;
}
.filter-row > * {
  margin-right: 12px;
}
.filter > div:first-child {
  flex: 5;
}
#loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.go {
  font-size: 12px;
  background: #418aca;
  color: white;
  padding: 8px;
  width: max-content; /* 35px; */
  /* height: 25px; */
  display: flex;
  justify-content: center;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
